 html,body {
    height: 100%;
    width: 100%;
    background-color: rgb(48, 133, 223);
 }
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white;
}
h2 {
    color: white;
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 30px;
}
#buttonsContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
#healthBar {
    width: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
}
 button {
  font-size: 1.4em;
  font-family: monospace;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
#obstacleContainer {
    display: none;
    background-color: #993333;
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    margin-left: 40%; /*layer exactly on top of grid*/
    height: 510px; 
    width: 310px;
}
#obstaclePic {
    margin: auto;
    display: block;
    height: 150px;
}
#obstacleText {
    margin: auto;
    text-align: center;
    padding: 5px;
    color: black;
}
#obstacleTitle {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 1.6em;
    margin-bottom:10px;
    
}
#obstacleXButton, #pickupRAButton, .storyButtons {
    display: none;
}
#gridContainer {
    margin-left: 40%;
    display: flex;
    flex-flow: column wrap; /*three rows*/
    justify-content: center;
    align-items: center;
    height: 510px; /*total size of grid, accounting for border*/
    width: 300px;
    position: relative;
}
.gridImage { /*Make barrels and islands small, centered*/
    width: 75px;
    height: 75px;
}
.grid { /*grid squares*/
    width: 100px;
    height: 100px;
    border: 1px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Erase top and bottom middle grid borders*/
#gridTop {border-top: 0px;}
#gridBottom {border-bottom: 0px;}

p{ 
    font-size: 1.4em;
    font-family: monospace;
    color: white;
}

#map { /*place beside grid*/
    display: none;
    z-index: 2;
    height: 500px;
    position: fixed;
}
#inventoryContainer { /*put stats info beside grid*/
    margin-left: 25px;
    display: flex;
    float: right;
    flex-flow: column;
    position: relative;
}
.inventoryHoriz {
    display: flex;
    padding-left: 20px;
}
#chest {
    width: 150px;
    padding-top: 30px;
}
.inventoryPics {
    width: 75px;
}
#textContainer {
    float: left;
    width: 400px;
    margin-left: 10%;
}

