 html,body {
    height: 100%;
    width: 100%;
    background-image: url(./website_pics/waves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: navy;
}
h2 {
    color: darkcyan;
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 30px;
    padding-right: 20px;
}
button {
    font-size: 1.4em;
    font-family: monospace;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
p { 
    font-size: 1.4em;
    font-family: monospace;
}
#everythingContainer {
    display: flex;
}
/***************LEFT***************/
#textContainer {
    float: left;
    width: 400px;
}
#map { /*place beside grid*/
    display: none;
    z-index: 2;
    height: 500px;
    position: fixed;
}
/***************CENTER***************/
#buttonsContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.overlayGrid {
    display: none;
    z-index: 2;
    position: absolute;
    margin-left: 40%;
    height: 510px; 
    width: 310px;
}
#obstacleContainer {
    background-color: #993333;
}
#salesmanContainer {
    background-color: lightpink;
    /* display: block; */
}
#obstaclePic, #salesmanPic {
    margin: auto;
    display: block;
    height: 150px;
}
#obstacleText, #salesmanText {
    margin: auto;
    text-align: center;
    padding: 5px;
    color: black;
}
#priceText {
    margin: auto;
    padding-top: 20px;
    text-align: center;
    font-size: 1.8em;
    color: black;
}
#obstacleTitle, #salesmanTitle {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-size: 1.6em;
    margin-bottom:10px;
}
#obstacleXButton, #pickupRAButton, .storyButtons {
    display: none;
}
#gridContainer {
    margin-left: 13%;
    display: flex;
    flex-flow: column wrap; /*three rows*/
    justify-content: center;
    align-items: center;
    height: 510px; /*total size of grid, accounting for border*/
    width: 300px;
}
.gridImage { /*Make barrels and islands small, centered*/
    width: 75px;
    height: 75px;
}
.grid { /*grid squares*/
    width: 100px;
    height: 100px;
    border: 1px dashed darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Erase top and bottom middle grid borders*/
#gridTop {border-top: 0px;}
#gridBottom {border-bottom: 0px;}


/***********************RIGHT***********************/

#inventoryContainer { 
    display: grid;
    margin-left: 25px;
    width: 330px;
    height: 500px;
}
#invMode1 {
    grid-area: 1 / 1 / 2 / 2;
}
#invMode2 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('./website_pics/shelves.jpg');
    display: none;
    width: 300px;
    height: 510px;

    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}
#inventoryXButton {
    margin-left: 80%;
}
#inv1Header {
    display: flex;
}
#unitsContainer {
    display: flex;
}
.middleUnits {
    padding-left: 20px;
    padding-right: 20px;
}
#chest {
    width: 150px;
    padding-top: 30px;
    margin-bottom: -20px;
}
#coinPic {
    height: 50px;
}
.invMode1Pics {
    width: 75px;
}
.invMode2Pics {
    width: 100px;
}
#healthBar {
    width: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
}