 html,body {
    height: 100%;
    width: 100%;
    background-color: rgb(48, 133, 223);
 }
h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: white;
}
#buttonsContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
 button {
  font-size: 1.4em;
  font-family: monospace;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 10px;
}
#gridContainer {
    margin-left: 40%;
    display: flex;
    flex-flow: column wrap; /*three rows*/
    justify-content: center;
    align-items: center;
    height: 510px; /*total size of grid, accounting for border*/
    width: 300px;
}
.gridImage { /*Make barrels and islands small, centered*/
    width: 75px;
    height: 75px;
}
.grid { /*grid squares*/
    width: 100px;
    height: 100px;
    border: 1px dashed white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Erase top and bottom middle grid borders*/
#gridTop {border-top: 0px;}
#gridBottom {border-bottom: 0px;}

p { /*inventory,health,etc. text*/
    font-size: 1.4em;
    font-family: monospace;
    color: white;
}
#healthBar {
    width: 50px;
}
#map { /*place directly on top of grid*/
    display: none;
    z-index: 2;
    height: 500px;
    position: fixed;
    /* position: fixed;
    z-index: 2;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 42.1%; */
}
#statsContainer { /*put stats info beside grid*/
    margin-left: 25px;
    display: flex;
    float: right;
    flex-flow: column;
}
#textContainer {
    float: left;
    width: 400px;
    margin-left: 10%;
}
